*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100%;
    height: 80vh;

}

h1{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    background-color: #ffbb00;
    color: white;
    border-radius: 50px;
    width: 300px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.container{
    width: 1100px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.container .card{
    width: 300px;
    height: auto;
    padding: 10px 0;
    text-align: center;
    background: #0B5EC9;
    border-radius: 15px;
    box-shadow: 2px 5px 15px black;
    transition: transform 0.3s;
}

.container .card:hover{
    transform: scale(1.050);
}

.container .card .card-title{
    padding: 30px 20px;
    border-bottom: 2px solid gray;
}

.container .card .card-title h2{
    font-size: 35px;
    padding-bottom: 15px;
    color: yellow;
}

.container .card .card-title p span{
    font-size: 40px;
    padding: 0 5px;
    color: white;
}

.container .card .card-content ul{
    padding: 10px 30px;
    padding-bottom: 20px;
}

.container .card .card-content ul li{
    list-style: none;
    padding: 10px 0;
    color: white;
}

.container .card .card-content ul li i{
    margin-right: 4px;
}

.container .card .card-content button{
    width: 120px;
    padding: 10px 20px;
    background: white;
    border-radius: 20px;
    margin-bottom: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.container .card .card-content button:hover{
    background: #17ead9;
    letter-spacing: 1.2px;
}

.container .card .card-content button a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}