.painel2{
    margin: 0px;
    margin-top: 120px;
    width: 500px;
    height: 650px;
    margin-left: auto;
    margin-right: auto;
    shape-outside: inset(100px 100px 100px 100px);
    background: #0B5EC9;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
input{
    color: #ffffff;
}
input::placeholder {
    color: #4090f8;
    
}
.botaocontinuar{
    padding: 10px 40px;
    border-radius: 20px;
    background-color: #ffffff;
    color: #0B5EC9;
    border: none;
    position: absolute;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    margin-left: -100px;
    margin-top: 150px;
}
.botaovoltar{
    padding: 10px 63px;
    border-radius: 20px;
    background-color: #ffffff;
    color: #0B5EC9;
    border: none;
    position: absolute;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    margin-left: -100px;
    margin-top: 220px;
}
.cadastro{
    color: #ffffff;
    font-size: 18px;
    top: 220px;
    position: absolute;
    margin-left: -100px;
}

.search-nome{
    position: absolute;
    transform:  translate(-50%, -50%);
    background: #0B5EC9;
    margin-left: 0%;
    margin-top: -180px;
    height: 0px;
    width: 420px;
    padding: 15px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border: 1px solid #ffffff;
    border-top: none;
    border-left: none;
    border-right: none;
    background: none;
    outline: 0;
}
.search-email2{
    position: absolute;
    transform:  translate(-50%, -50%);
    background: #0B5EC9;
    margin-left: 0px;
    margin-top: -90px;
    height: 0px;
    width: 420px;
    padding: 15px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border: 1px solid #ffffff;
    border-top: none;
    border-left: none;
    border-right: none;
    background: none;
    outline: 0;
}
.search-senha2{
    position: absolute;
    transform:  translate(-50%, -50%);
    background: #0B5EC9;
    margin-left: 0px;
    margin-top: 0px;
    height: 0px;
    width: 420px;
    padding: 15px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border: 1px solid #ffffff;
    border-top: none;
    border-left: none;
    border-right: none;
    background: none;
    outline: 0;
}
.nome2{
    color: #ffffff;
    position: absolute;
    margin-top: -230px;
    margin-left: -210px;
}
.email2{
    color: #ffffff;
    position: absolute;
    margin-top: -140px;
    margin-left: -210px;
}
.senha2{
    color: #ffffff;
    position: absolute;
    margin-top: -50px;
    margin-left: -210px;
}
.search-date{
    margin-top: 70px;
    position: absolute;
    background: #ffffff;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #ffffff;
    color: #0B5EC9;
    border: none;
    display: flex;
    margin-left: 20px;
}
.data{
    margin: auto;
    margin-top: 80px;
    margin-left: -210px;
}